@media(max-width:54em) {
  /* html {
    font-size: 50%;
  } */

  body {
    padding: 9.6rem 1.2rem;
  }
}

@media(max-width:49em) {
  html {
    font-size: 50%;
  }

  body {
    padding: 9.6rem 1.2rem;
  }
}

@media(max-width:41em) {
  html {
    font-size: 46%;
  }


}

@media(max-width:34em) {
  html {
    font-size: 40%;
  }


}

@media(max-width:30em) {
  html {
    font-size: 46%;
  }

  body {
    padding: 9.6rem 4.8rem;
  }

  main {
    width: 100%;
    margin: 0;
  }

  section:last-child {
    display: grid;
    grid-template-columns: 1fr;
  }
}